.wrapper {
	width: 600px;
	height: 600px;
	background: rgb(250, 250, 250);
	color: #fff;
	border-radius: 34px;
	padding: 64px;
}

.wrapper h1 {
	font-size: 64px;
	text-align: center;
	color: #142850;
	font-family: "Montserrat", Helvetica;
}

.wrapper-pilih {
	display: flex;
	gap: 30px;
	margin: 60px auto;
}

.wrapper .input-box {
	width: 470px;
	height: 53px;
	margin: 40px 0;
	margin-left: 5px;
}

.input-box input {
	width: 100%;
	height: 100%;
	background: #fff;
	outline: none;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 40px;
	box-shadow: 4px 5px 20px 0px rgba(0, 0, 0, 0.3);
	font-size: 16px;
	font-family: "Montserrat", Helvetica;
	color: #8d8d8d;
	padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
	color: #8d8d8d;
	font-family: "Montserrat", Helvetica;
}

.wrapper button {
	width: 400px;
	height: 53px;
	background: #00909e;
	border: none;
	outline: none;
	border-radius: 40px;
	cursor: pointer;
	font-size: 16px;
	font-family: "Montserrat", Helvetica;
	color: #ffffff;
	font-weight: 700;
	margin-left: 37px;
	box-shadow: 8px 6px 20px 0px rgba(0, 0, 0, 0.5);
}

.wrapper .register-link {
	font-size: 14.5px;
	text-align: center;
	margin-top: 20px;
	color: #8d8d8d;
}

.register-link p a {
	color: #8d8d8d;
	text-decoration: none;
	font-size: 600;
	font-weight: bold;
}

.register-link p a:hover {
	text-decoration: underline;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.LoginForm-container {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url("../../assets/background.png") no-repeat;
	background-size: cover;
	background-position: center;
}
