.container-recent-sales {
	display: flex;
	height: 100vh;
}

.left-column-dashboard {
	flex: 1;
	display: flex;
	justify-content: center;
	background-color: #f0f0f0;
}

.left-column-dashboard h1 {
	margin-top: 300px;
	color: #00909e;
	font-size: 80px;
}

.right-column-dashboard {
	flex: 1.5;
	padding-right: 40px;
	background-color: #f0f0f0;
}

.table-responsive {
	margin-top: 200px;
	display: flex;
	justify-content: center;
}

table {
	border-radius: 15px;
	margin: 0 auto;
	overflow: hidden;
}

table td,
table th {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
}

table th {
	max-width: 80px;
}
