* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.product-card-container {
	transition: transform 0.3s ease, border-radius 0.3s ease;
	border-radius: 25px;
	overflow: hidden;
}

.product-card-details .name {
	font-size: 16px;
}

.product-card-details .price {
	font-weight: bold;
	font-size: 20px;
	color: #142850;
}

.product-card-details .shop {
	font-weight: bold;
	font-size: 12px;
}

.product-card-details .location {
	font-size: 16px;
}

.product-card-container:hover {
	transform: scale(1.05);
	border-radius: 30px;
}

.product-card-link {
	text-decoration: none;
	color: inherit;
}

.product-card-container {
	width: 16.25rem;
	height: 22.75rem;
}

.card-title {
	font-size: 1.25rem;
	white-space: nowrap; /* Prevent the title from wrapping to a new line */
	overflow: hidden; /* Hide any overflow text */
	text-overflow: ellipsis; /* Add ellipsis (...) to indicate truncated text */
}

.card-text {
	font-size: 1rem; /* Adjust the font size of the text as needed */
	white-space: nowrap; /* Prevent the text from wrapping to a new line */
	overflow: hidden; /* Hide any overflow text */
	text-overflow: ellipsis; /* Add ellipsis (...) to indicate truncated text */
}

.product-card-details .price {
	margin: 0;
}

.ProductListContainer {
	padding: 30;
}

@media (min-width: 768px) {
	.ProductListContainer-home {
		margin-top: 80px;
		margin-left: 180px;
		margin-right: 180px;
	}
	.product-carousel-container {
		margin-top: 80px;
		margin-left: 180px;
		margin-right: 180px;
	}
}

.product-carousel-container h1 {
	margin-left: 35px;
	color: #00909e;
}
.ProductListContainer-home h1 {
	margin-left: 35px;
	color: #00909e;
}

.ad-container {
	padding-top: 3.5rem;
	width: 80%;
	margin: auto;
	display: flex;
	align-items: flex-start;
}

.home-ad-image-container {
	width: 45%;
	margin-right: 5%;
	border-radius: 30px;
	overflow: hidden;
}

.home-ad-image-container:last-child {
	margin-right: 0;
}

.button-home-container {
	margin-top: 60px;
	text-align: center;
}

.load-more-button-home {
	width: 500px;
	height: 200;
	font-weight: bold;
	font-size: large;
}

.load-more-button-home {
	display: inline-block;
	font-weight: bold;
	color: #00909e;
	font-family: "Montserrat", Helvetica;
	background-color: transparent;
	border: 1px solid #00909e;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.5rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	text-decoration: none;
}

.load-more-button-home:hover {
	color: #fff;
	background-color: #00909e;
	border-color: #00909e;
}

.paginated-product-container {
	margin-top: 120px;
}

.custom-column {
	flex: 0 0 calc(20% - 30px);
	max-width: calc(20% - 30px);
	margin: 0 15px 30px;
	justify-content: center;
}
